{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="type-post">

            <div class="col-md-12 col-sm-12 col-xs-12 blog-content">
                <h3 class="entry-title"><a title="new Collectios are imported In Our shop." href="blog-post.html">{{header}}</a></h3>

                <div class="entry-content">
                    <p>{{ message }}</p>
                    <a href="blog-post.html" title="Read More" class="read-more">Read More<i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>



    </div>
{% endblock %}